<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url "blogUpdate_" dt.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="edit_title" id="" value="{{obj.title}}"><br><br>
        <textarea name="edit_content" id="edit_content">{{ obj.content }}</textarea><br><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>