<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Login Form</h2>
    <form action="{% url "loginUser" %}" method = 'POST'>
        {% csrf_token %}
        <input type="text" name="uname" id="" placeholder="Enter username:"></br><br>
        <input type="text" name="pass" id="" placeholder="Enter Password"><br><br>
        <input type="submit" value="submit">
    </form>
    <a href={% url "register" %}>Register</a>
</body>
</html>